<div class="main-content">
  <div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
      <div class="row feed-body">
        <div #middleColumn class="col-xl-12 col-xxl-12 col-lg-12">
          <div class="app-content card w-100 shadow-xss rounded-xxxl border-0 p-4 mb-3">
            <p>
              <profile-info></profile-info>
              <employee-report [statusId]="0"> </employee-report>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>