.bold-label {
    font-weight: bold;
  }
  /* CSS để định dạng nút "Xóa" */
.row-status .status-not-effect span {
  cursor: pointer;
  color: red; /* Thêm màu đỏ cho nút */
}

/* CSS khi trỏ vào nút "Xóa" */
.row-status .status-not-effect span:hover {
  color: darkred; /* Màu sắc khi trỏ vào nút */
}
.input-error {
  color: red;
}
.red-asterisk {
  color: red;
  margin-left: 4px; /* (Tuỳ chọn) Để thêm khoảng cách giữa văn bản và dấu hoa thị */
}
/* Điều chỉnh kích thước chữ cho phần mã nhân viên và họ tên */
#code,
#fullname,
#orgName,
#positionName {
  font-size: 15px; /* Điều chỉnh kích thước chữ tùy ý */
}
/* Tùy chỉnh kiểu dáng cho nút sao chép */
.btn-coppy {
  background-color: #007bff; /* Màu nền xanh dương */
  color: #fff; /* Màu chữ trắng */
  border: none; /* Loại bỏ viền */
  padding: 3px 15px; /* Kích thước nút */
  cursor: pointer;
  border-radius: 3px; /* Góc bo viền */
  font-size: 12px; /* Kích thước chữ */
}

.btn-coppy:hover {
  background-color: #0056b3; /* Màu nền xanh dương khi di chuột vào */
}

/* Điều chỉnh khoảng cách giữa <ng-template> và "THÔNG TIN CÁ NHÂN" */
.custom-container {
  margin-top: 20px; /* Khoảng cách giữa <ng-template> và "THÔNG TIN CÁ NHÂN" */
}
/* Tùy chỉnh kiểu dáng cho nút Lưu */
.custom-button {
  border-radius: 25px; /* Để làm cho nút hình tròn */
  padding: 10px 25px; /* Kích thước nút */
}

/* Tùy chỉnh kiểu dáng cho biểu tượng */
.custom-button i {
  font-size: 18px; /* Kích thước biểu tượng */
}
.img-avatar {
  width: 250px; /* Điều chỉnh kích thước theo mong muốn */
  height: 210px;
  border-radius: 50%; /* Làm tròn viền để tạo hình tròn */
  border: 2px solid #fff; /* Viền mảnh khảm bao quanh hình ảnh */
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
}

