.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  ::ng-deep .mat-vertical-stepper-content { 
    visibility: visible !important; 
    height: 100% !important; 
  }
  ::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}
::ng-deep .mat-step-header[aria-labelledby="disabled_Resi"] {
  pointer-events: none !important;
  cursor: not-allowed;
}
