<div class="main-content">
  <div class="middle-sidebar-bottom">
    <div #middleColumn class="col-xl-12 col-xxl-12 col-lg-12">
      <!--profile info-->

      <div class="app-content w-100 shadow-xss rounded-xxxl border-0 p-4 mb-3">
        <div class="row">
          <div class="col-sm-9">
            <div class="mb-3 background-white"
              style="border-radius: 10px; padding: 15px;border:1px solid rgba(0, 0, 0, 0.13)">
              <profile-info [baseInfo]="baseInfo" *ngIf="baseInfo!==undefined"></profile-info>

            </div>
            <div class="mb-3">

              <div class="node-header" [ngClass]="{'node-header-toggle': !isShow}" 
              (click)="isShow=!isShow">
              <label class="text-bold">
                Mô tả xếp loại
              </label>
              <label class="node-header-arrow">
                <i class="feather-chevron-down" *ngIf="isShow"></i>
                <i class="feather-chevron-up" *ngIf="!isShow"></i>
              </label>
            </div>
            <div class="node-content"  *ngIf="isShow">
              <ejs-grid #empReportGrid [dataSource]="table" [allowGrouping]='false'>
                <e-columns>
                  <e-column field="MA_NHOM_HANHVI" headerTextAlign ="Center" headerText="Xếp loại" width="200"></e-column>
                  <e-column field="HANHVI" headerTextAlign ="Center" headerText="Mô tả">
                    <ng-template #template let-data>
                      <span style="word-wrap: break-word;white-space: pre-wrap;text-align: left;float: left;" [innerHTML]="viewHtml(data.HANHVI)"></span>
                    </ng-template>
                  </e-column>
            
                </e-columns>
                </ejs-grid> 
            </div>

            </div>


            <div ngClass="mb-3" *ngFor=" let step of lstStep; let i = index; trackBy: trackByFn" class="step"
              [attr.step]="i" [attr.nodeId]="step.nodeId">
              <div class="pt-2">

                <div class="node-header" [ngClass]="{'node-header-toggle': !step.showTab}" [id]="step.component.name"
                  (click)="step.showTab=!step.showTab">
                  <label class="text-bold">
                    {{step.label}}
                  </label>
                  <label class="node-header-arrow">
                    <i class="feather-chevron-down" *ngIf="step.showTab"></i>
                    <i class="feather-chevron-up" *ngIf="!step.showTab"></i>
                  </label>
                </div>
                <div class="node-content" [id]="step.component.name + '_' + step.nodeId" *ngIf="step.showTab">
                  <ng-container nodeId="step.nodeId" *ngComponentOutlet="step.component;">

                  </ng-container>
                </div>
                <div class="node-button" *ngIf="step.showTab && (step.status<=1)">
                  <hr-process-button [nodeId]="step.nodeId" id="{{step.component.name}}">
                  </hr-process-button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <process-view *ngIf="lstStep.length>0 " [selectedDosing]="lstProcess">
            </process-view>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>