@use 'src/app/style-variables.scss';

@keyframes modulecolor {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.navigation {
    position: fixed;
    top: 96px;
    padding-top: 0px;
    padding-bottom: 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 336px;
    height: calc(100vh - 96px);
    background-color: style-variables.$color-main-background;
    -webkit-transition: width 0.25s;
    -o-transition: width 0.25s;
    transition: width 0.25s;
    z-index: -1;

    .nav-content {
        width: 100%;
        transition: all 0.2s ease;
        padding-left: 10px;
        padding-right: 10px;
        background-color: transparent;
    }

    .nav-content ul li:not(.logo) a i {
        font-size: 24px;
        color: #464646;
        top: 0px;
        position: relative;
    }

    .nav-content ul li>a:hover span {
        color: #FF773E;
    }

    .nav-content ul li:not(.logo) a span {
        font-family: style-variables.$typography-main-font-family;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        color: #464646;
        transition: all 0.2s ease;
        margin-right: auto;
        padding-right: 10px;
    }

    .nav-content ul li:not(.logo) a .oval-count {
        width: 37px;
        height: 27px;
        padding: 4px 6px;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        border-radius: 27px;
        position: absolute;
        top: 10px;
        display: inline-block;
        color: #fff;
        font-size: 13px;
        right: 10px;
        text-align: center;
    }
}

.btn-space-md {
    height: 45px;
    display: inline-block;
    line-height: 45px !important;
}

.btn-square-md {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    label,
    .oval-count {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 17px;
        line-height: 18px;
    }
}

.bg-greenlight {
    background-color: #4BEEA7;
}

.bg-redlight {
    background-color: #FB4853;
}

.bg-graylight {
    background-color: #A7A7A7;
}

.bg-orangelight {
    background: #FFA427;
}

.noti-icon-wrapper {
    display: inline-block;
}

.notification-badge {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 16.11px;
    height: 16.11px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    label {
        font-weight: 700;
        font-size: 10px;
        line-height: 18px;
        color: #FFFFFF;
    }
}

.bg-notification-badge {
    background: #FF1212;
}

.logo-img {
    background-color: transparent;
    content: url('/assets/images/VMO_Logo_Positive.png');
}

.theme-dark .logo-img {
    content: url('/assets/images/VMO_Logo_Negative.png');
}

.miuka-text-logo {
    background: -webkit-linear-gradient(#09f, rgb(0, 69, 207));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.module-wrapper {
    position: absolute;
    left: 280px;
}

.module {
    color: red !important;
    animation: modulecolor 10s infinite ease-in-out !important;
}

.module:hover {
    animation-play-state: running !important;
}

.theme-dark {
    .module {
        background-color: transparent !important;
    }
}

.theme-dark {
    .bg-greylight {
        background-color: #1a2236 !important;
        color: #ddd !important;
    }
}

@media screen and (max-width: 991px) {

    .miuka-text-logo,
    .logo-text {
        line-height: 28px !important;
        font-size: 24px !important;
        transition: all;
        transition-duration: 500ms;
    }

    .navigation {
        top: 0px;
        height: calc(100vh);
        z-index: 0;
    }
}

.mob-extend {
    background-color: inherit;
}

@media screen and (max-width: 412px) {

    .miuka-text-logo,
    .logo-text {
        display: none !important;
        transition: all;
        transition-duration: 500ms;
    }
}

@media screen and (max-width: 450px) {

    .mob-extend {
        display: none !important;
        transition: all;
        transition-duration: 500ms;
    }
}

@media screen and (max-width: 330px) {
    .logo-img {
        display: none !important;
        transition: all;
        transition-duration: 500ms;
    }
}

@media screen and (max-width: 390px) {
    .mob-menu {
        display: none !important;
    }
}

.nav-header {
    justify-content: space-between;
}

.top-right-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.avatar-rounder {
    border-radius: 50%;
}

#right-bar-content {
    position: fixed;
    top: 96px;
    padding-top: 0px;
    padding-bottom: 10px;
    flex-shrink: 0;
    width: 336px;
    height: calc(100vh - 96px);
    background-color: #F5F5F5;
    transition: width 0.25s;
    z-index: 9;
    border-radius: 10px;
    right: 10px;

}

.br50per {
    border-radius: 50%;
}

// .checkboxes{display:flex;flex-wrap:wrap;margin-bottom:2rem}.checkboxes>label{flex:0 0 max-content;margin:.5rem;cursor:pointer}section:not(:last-of-type){padding-bottom:2rem;border-bottom:1px solid black}.main-content .middle-sidebar-bottom{background-color:#f5f5f5!important;padding:0!important}.main-content,.right-chat{background-color:#f5f5f5!important}.theme-dark .main-content .middle-sidebar-bottom,.theme-dark .main-content,.theme-dark .right-chat{background-color:#1a2236!important}@media (max-width: 991.98px){.navigation{left:-340px!important;box-shadow:none!important;transition:left .5s ease-out!important}.nav-active{left:0!important;transition:left .5s ease-out!important}}@media (min-width: 1200px){.main-content{padding-top:96px!important;padding-right:340px!important;padding-left:340px!important}}.flex-center{display:flex;align-items:center;justify-content:center}.rounded-10px,.br10px{border-radius:10px}.mb24px{margin-bottom:24px}.bb-gray{border-bottom:1px solid #DADADA}.mr25px{margin-right:25px}.br50per{border-radius:50%}.flex-v-around{display:flex;flex-direction:column;align-items:center;justify-content:space-around}.bold17{font-weight:700;font-size:17px}.gray14{font-weight:400;font-size:14px}.pt13px{padding-top:13px}.pb13px{padding-bottom:13px}.pl19px{padding-left:19px}.mt15px{margin-top:15px}.mb30px{margin-bottom:30px}.pd19px{padding:19px}.pr19px{padding-right:19px}.mt19px{margin-top:19px}.w58{width:58px}.fs24{font-size:24px}.mr12px{margin-right:12px}.bg-orangelighter{background-color:#fbedd9}.text-orangelight{color:#ffa427}.flex-around{display:flex;align-items:center;justify-content:space-around}@media (max-width: 992px){.word-des{display:none}}.row{margin-top:0!important;margin-left:0!important;margin-right:0!important}


.star5 {
    width: 170px;
}

i.star.filled:before {
    background-image: url('/assets/images/star.png');
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
}

.h240 {
    height: 240px;
}

.mb-10 {
    margin-bottom: 10px;
}

// .theme-dark .bg-transparent-card {
//     background: #293145 !important;
// }
// .theme-dark .right-chat
// {
//     background: #293145 !important;
// }
.text-center {
    text-align: center;
}

.theme-dark .nav-content ul li:not(.logo) a i {
    color: style-variables.$color-text-theme-dark;
}

.show {
    display: block;
}

    .header-page {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: white;
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    }
  
    .separator {
      height: 1px;
      background-color: #86909e;
    }
  
    .user-theme-settings {
      height: 90px;
      padding: 8px 15px;
      font-size: 14px;
      
      .user-theme-list {
        .user-theme-item {
          margin-top: 5px;
  
          :hover {
            color: #F37540;
          }
  
          input {
            cursor: pointer;
          }
  
          label {
            margin-left: 10px !important;
            cursor: pointer;
          }
  
        }
      }
  
    }
  
    .dropdown ul.dropdown-menu {
      min-width: 260px;
    }
  
  
    .dropdown-toggle::after {
      color: white;
    }
  
    .header-left {
      display: flex;
      align-items: center;
    }
  
    .header-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-width: 150px;
      position: absolute;
      right: 280px;
    }
  
    .app-logo {
      width: 68px;
      float: left;
      border: none;
      height: 40px;
      margin-left: 10px;
      line-height: 36px;
  
      img {
        height: 32px;
        margin-left: 15px;
      }
  
      img:hover {
        cursor: pointer;
      }
    }
  
    @media (max-width: 768px) {
      .app-logo {
        display: none;
      }
  
      .menu {
        margin-left: 20px !important;
      }
  
    }
  
    .user-info {
      color: #fff;
  
      .user-avatar {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        margin-right: 8px;
      }
  
      .user-avatar-wrapper {
        background-color: #F37540;
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 5px;
      }
  
      .user-avatar-icon {
        color: white;
        font-size: 20px;
        transform: translate(0px, -2px);
      }
  
      .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
  
      .user-item {
        height: 35px;
        padding: 8px 15px;
        font-size: 14px;
        cursor: pointer;
        
        i {
          margin-right: 10px;
        }
      }
  
      .user-item:hover {
        color: #F37540;
      }
    }
  
    .notification {
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 0px;
    }
  
    .menu {
      height: 40px;
      margin: 0px;
      list-style: none;
      margin-left: 165px;
    }
  
    @media (max-width: 1200px) {
      .menu {
        height: unset !important;
      }
    }
  
    .menu>li {
      float: left;
    }
  
    .menu>li a {
      display: block;
      text-decoration: none;
      white-space: nowrap;
      color: #fff;
      padding: 5px 0px;
      text-align: center;
      //width: 105px;
      line-height: 30px;
      font-size: 14px;
    }
  
    .menu li {
      position: relative;
      display: flex;
      padding: 0 15px;
    }
  
    .menu li a.selected {
      color: #ffff00;
      font-weight: bold;
    }
  
    .menu li i {
      color: #7b7b7b;
      margin-top: 1px;
      margin-right: -15px;
      float: right;
    }
  
    .menu li .menu-sub {
      list-style: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: auto;
      display: none;
      padding: 5px 0px;
      margin: 0px;
      background-color: #fff;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
      border-radius: 3px;
    }
  
    .menu li .menu-sub a {
      color: #86909e;
      text-align: left;
      padding: 8px 3px;
      line-height: 15px;
      float: left;
      width: 100%;
      font-size: 14px;
      font-weight: normal;
    }
  
    .menu li .menu-sub ul {
      top: 0;
      left: 100%;
      width: auto;
    }
  
    .menu li:hover>ul {
      display: block;
      position: absolute;
      z-index: 999;
      background: white;
    }
  
   
  
    .menu-sub li:hover>a {
      // color: #1d9bf0;
      background: none;
      font-size: 14px;
      font-weight: bold;
    }
  
    .menu li:hover>a i {
      color: #1d9bf0;
    }
  
    .menu li .menu-sub {
      display: none;
    }
  
    .brackcrum {
      height: 60px;
      padding: 14px 0px 0px 10px;
      font-size: 13px;
      line-height: 14px;
      background-color: #ffffff;
      color: #86909e;
    }
  
    .brackcrum i {
      margin-right: 6px;
      margin-left: 3px;
    }
  
    .brackcrum-active {
      color: #86909e;
      font-weight: bold;
    }
  
    .fa-eye {
        position: absolute !important;
        top: 6px;
        right: 15px;
    }
    .fa-eye-slash:before {
      content: "\f070";
      position: absolute;
      right: 14px;
      top: 6px;
  }
    .e-float-input{
      left: 10px;
      width: 450px;
    }
    
    .e-float-text.required {
      top: 5px;
      
  }
  #currentPass,#password,#confirm_password {
    width: 440px;
    /* Thêm các thuộc tính CSS khác bạn cần */
}

.input-error {
  color: red;
  font-size: 12px;
}
.button-group {
  display: flex;
  justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.btn.btn-save {
  background-color: orange; /* Màu cam */
  color: white;
}

.btn.btn-cancel {
  background-color: gray;
  color: white;
}
.dialog-title {
  margin-top: 13px;
  color: black;
  text-align: center;
  font-size: 15px;
  margin-bottom: -20px;
}
.e-dialog-container {
  border-radius: 50px; /* Đặt bán kính góc bo tròn tùy ý */
}
#animationDialog {
  max-height: 500px !important;
  width: 500px;
  left: 0;
  top: 0;
  position: relative;
  z-index: 10000;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Drop shadow */
  background-color: white;
}
