<div class="main-content right-chat-active">
    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left">
            <div class="row feed-body">
                <div #middleColumn class="col-xl-12 col-xxl-12 col-lg-12">

                    <div #testerLeft class="tester-left"></div>
                    <div #testerRight class="tester-right"></div>

                   <app-total-overview></app-total-overview>
                    <div #postCreator>
                        <!-- <app-createpost></app-createpost> -->
                    </div>
                 
                    <ng-container *ngFor="let post of data">
                        {{post.updateBy}}
                        <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
                            <div class="card-body p-0 d-flex">
                                <figure class="avatar me-3"><img [src]="post.avater" alt="avater" class="shadow-sm rounded-circle w45" />
                                </figure>
                                <h4 class="fw-700 text-grey-900 font-xssss mt-1"> {{post.createBy}} <span
                                        class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500"> {{post.updateDate}}</span></h4>
                        
                            </div>
                            <!-- Dùng khi có video -->
                            <div *ngIf="post.postimage" class="card-body p-0 mb-3 rounded-3 overflow-hidden uttam-die">
                                <a routerLink="/defaultvideo" class="video-btn">
                                    <video autoplay loop class="float-right w-100">
                                        <source [src]="post.postimage" type="video/mp4" />
                                    </video>
                                </a>
                            </div>
                            <div class="card-body p-0 me-lg-5">
                                <p class="fw-500 text-black-500 lh-26 font-xsss w-100 mb-2">
                                    <span [innerHTML]="post.content | stringHtml"></span>
                                </div>
                        
                            <div *ngIf="post.imgUrl" class="card-body d-block p-0 mb-3">
                                <div class="row ps-2 pe-2">
                                    <div class="col-sm-12 p-1"><img [src]="post.imgUrl" class="rounded-3 w-100" alt="post" /></div>
                                </div>
                            </div>
                        
                            <div class="card-body d-flex p-0">
                                <div class="emoji-bttn pointer d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2"
                                    ><i
                                        class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i> <i
                                        class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss"></i>100 Like</div>
                                <div [class]="'emoji-wrap pointer'">
                                    <ul class="emojis list-inline mb-0">
                                        <li class="emoji list-inline-item"><i class="em em---1"></i> </li>
                                        <li class="emoji list-inline-item"><i class="em em-angry"></i></li>
                                        <li class="emoji list-inline-item"><i class="em em-anguished"></i> </li>
                                        <li class="emoji list-inline-item"><i class="em em-astonished"></i> </li>
                                        <li class="emoji list-inline-item"><i class="em em-blush"></i></li>
                                        <li class="emoji list-inline-item"><i class="em em-clap"></i></li>
                                        <li class="emoji list-inline-item"><i class="em em-cry"></i></li>
                                        <li class="emoji list-inline-item"><i class="em em-full_moon_with_face"></i></li>
                                    </ul>
                                </div>
                          
                            </div>
                        </div>

                      </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>