<div class="main-content right-chat-active">
  <div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
      <div class="row feed-body">
        <div #middleColumn class="col-xl-12 col-xxl-12 col-lg-12">
          <div class="card w-100 shadow-xss rounded-xxxl border-0 p-4 mb-3">
            <div class="card-body p-0 d-flex">
              <label>Bảng công</label>
              <ejs-schedule width='100%' height='550px' [selectedDate]="selectedDate">
                <e-views> 
                  <!-- <e-view option="Week" startHour="07:00" endHour="15:00">
                  </e-view>
                  <e-view option="WorkWeek" startHour="10:00" endHour="18:00"></e-view> -->
                  <e-view option="Month" [showWeekend]="showWeekend"></e-view></e-views>
              </ejs-schedule>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>