<div class="main-content right-chat-active">
  <div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
      <div class="row feed-body">
        <div #middleColumn class="col-xl-12 col-xxl-12 col-lg-12">
          <div class="card w-100 shadow-xss rounded-xxxl border-0 p-4 mb-3">
            <h3>Bảng công tháng</h3>

            <ejs-datepicker id="fromDate" format="dd/MM/yyyy"
            placeholder=".../.../...">
          </ejs-datepicker>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>