<div class="" (click)=" $event.stopPropagation() ">
  <div class=" header-button">
    <div class="btn btn-primary" (click)="updateCompentencySeltList()" *ngIf="validationRank()">
      <i class="feather-save"></i>
      {{'[Lưu kết quả tự đánh giá]'|translate}}
    </div>
  </div>
  <ejs-grid #empReportGrid [dataSource]="table" [allowGrouping]='true' [groupSettings]='groupOptions'>
    <e-columns>
      <!-- <e-column field="stt" headerText="STT" textAlign="center" isPrimaryKey="true" width="70" [edit]="false">
        <ng-template #template let-data>
          {{formatStt(data.index)}}
        </ng-template>
      </e-column> -->
      <e-column field="GROUP_NAME" headerText="Nhóm năng lực" width="100"></e-column>
      <e-column field="NAME" headerText="Năng lực" width="150"></e-column>
      <e-column field="REMARK" headerText="Định nghĩa" textAlign="Left">
        <ng-template #template let-data>
          <span style="word-wrap: break-word;white-space: pre-wrap;" [innerHTML]="viewHtml(data.REMARK)"></span>
        </ng-template>
      </e-column>
      <e-column field="status" headerText="Rank 5" width="100">
        <ng-template #template let-data>
          <input type="checkbox" [name]="data.ID" class="largerCheckbox" [(ngModel)]="data.RANK5_CKH_F"
            (change)="changeRank(data,data.RANK5,$event,'RANK5_CKH_F',data.ID)" />
        </ng-template>
      </e-column>
      <e-column field="status" headerText="Rank 4" width="100">
        <ng-template #template let-data>
          <input type="checkbox" [name]="data.ID" class="largerCheckbox" [(ngModel)]="data.RANK4_CKH_F"
            (change)="changeRank(data,data.RANK4,$event,'RANK4_CKH_F',data.ID)" />
        </ng-template></e-column>
      <e-column field="status" headerText="Rank 3" width="100">
        <ng-template #template let-data>
          <input type="checkbox" [name]="data.ID" class="largerCheckbox" [(ngModel)]="data.RANK3_CKH_F"
            (change)="changeRank(data,data.RANK3,$event,'RANK3_CKH_F',data.ID)" />
        </ng-template></e-column>
      <e-column field="status" headerText="Rank 2" width="100">
        <ng-template #template let-data>
          <input type="checkbox" [name]="data.ID" class="largerCheckbox" [(ngModel)]="data.RANK2_CKH_F"
            (change)="changeRank(data,data.RANK2,$event,'RANK2_CKH_F',data.ID)" />
        </ng-template></e-column>
      <e-column field="status" headerText="Rank 1" width="100">
        <ng-template #template let-data>
          <input type="checkbox" [name]="data.ID" class="largerCheckbox" [(ngModel)]="data.RANK1_CKH_F"
            (change)="changeRank(data,data.RANK1,$event,'RANK1_CKH_F',data.ID)" />
        </ng-template></e-column>


    </e-columns>
  </ejs-grid>
</div>