@use 'src/app/style-variables.scss';

// @import '../../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';
.background-white {
  background: white !important;
}

.element-disable {
  pointer-events: none;
}

.form-grid {
  padding-top: 20px;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.e-dlg-overlay {
  z-index: -1 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.checkboxes>label {
  flex: 0 0 max-content;
  margin: 0.5rem;
  cursor: pointer;
}

section:not(:last-of-type) {
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}

.main-content .middle-sidebar-bottom {
  background-color: style-variables.$color-main-background !important;
}

.main-content,
.right-chat {
  background-color: style-variables.$color-main-background !important;
}


.theme-dark {
  .main-content .middle-sidebar-bottom {
    background-color: style-variables.$color-main-background-theme-dark !important;
  }

  .main-content,
  .right-chat {
    background-color: style-variables.$color-main-background-theme-dark !important;
  }
}


@media (min-width: 992px) {
  .main-content {
    padding-left: style-variables.$size-sidebar-width;
  }
}

@media (max-width: 991.98px) {
  .navigation {
    left: style-variables.$size-sidebar-inactive-left !important;
    box-shadow: none !important;
    transition: left 0.5s ease-out !important;
  }

  .nav-active {
    left: 0px !important;
    transition: left 0.5s ease-out !important;
  }

}

@media (min-width: 992px) {
  .main-content {
    padding-left: style-variables.$size-sidebar-width !important;
    padding-right: 290px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-10px {
  border-radius: 10px;
}

.form-group {
  margin-top: 10px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: rgba(234, 234, 234, 0.83);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-icon {
    width: 50px;
    height: 50px;
  }
}

.e-recordplusexpand {
  text-align: center;
}

.header-button {
  margin: 10px 0px 10px 0px;
}