<div class='main-wrap'>
    <div class='nav-header bg-transparent shadow-none border-0'>
        <div class='nav-top w-100'>
            <a href='/'><i class="text-success display1-size me-2 ms-0">
                    <img src="../../../assets/images/auth/vmo_logo.png" alt='VMO' width="300px" class="login-logo" />
                </i>
            </a>

        </div>
    </div>
    <div class='row'>
        <div class='col-xl-12 vh-100 align-items-center d-flex login-background rounded-10 overflow-hidden'>
            <div class='shadow-none border-0 ms-auto me-auto login-card'>
                <div class='card-body rounded-10 text-left lg-bg rounded-xxxl'>
                    <form [formGroup]="authForm" (ngSubmit)="signIn()">

                        <div class="logo">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="../../../assets/images/auth/vmo_dark 2.png" />
                                </div>
                                <div class="col-sm-6">
                                    <select #lang class="form-control" (change)="switchLang(lang.value)"
                                        [(ngModel)]="model.lang" formControlName="lang">
                                        <option *ngFor="let c of languagesList" [value]="c.id">{{c.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="login-text">
                            <div class="text-node">
                                {{'Cổng thông tin nhân sự'}}
                            </div>
                            <div class="text-name">
                                {{'VMO Portal'}}
                            </div>
                        </div>


                        <div class='form-group icon-input '>
                            <p [ngClass]="{ 'text-danger': loading && formControls['user_name'].errors }">
                                <i class='font-sm feather-users text-grey-500 pe-0'></i>
                                <input #username type="text" id="user_name" formControlName="user_name"
                                    class=" ps-5 form-control h-50  mont-font" autocomplete="off"
                                    [placeholder]="'[Tên đăng nhập]'|translate" />
                            </p>
                            <div *ngIf="formControls['user_name'].errors && isDirty()" class="help-block">
                                <div class="mont-font" style="color: red;"
                                    *ngIf="formControls['user_name'].errors['required']">
                                    Tên đăng nhập là bắt buộc</div>
                            </div>
                        </div>
                        <div class='form-group icon-input '>
                            <p [ngClass]="{ 'text-danger': formControls['password'].errors }">
                                <input type="password" id="password" formControlName="password" autocomplete="false"
                                    class=" ps-5 form-control h-50  mont-font" autocomplete="off"
                                    placeholder="Mật khẩu" />
                                <i class='font-sm feather-lock text-grey-500 pe-0'></i>
                            </p>
                            <div *ngIf="formControls['password'].errors  && isDirty()" class="help-block">
                                <div class="mont-font" style="color: red;"
                                    *ngIf="formControls['password'].errors['required']">Mật khẩu là
                                    bắt buộc</div>
                            </div>
                        </div>
                        <div class='form-check text-left '>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input #remember type='checkbox' name="remember" formControlName="remember"
                                        class='form-check-input mt-2' id='exampleCheck5' /><label
                                        class='form-check-label font-xsss text-grey-500 '>Ghi nhớ đăng nhập</label>
                                </div>
                                <div class="col-sm-6">


                                    <!-- <ejs-dropdownlist id='moduleId' [disabled]="false" [(ngModel)]="model.lang" [dataSource]='languagesList' [fields]='fields' formControlName="lang" width="100%"
                                    (change)="switchLang($event)">
                                  </ejs-dropdownlist> -->

                                </div>
                            </div>

                            <!--  -->
                        </div>
                        <div *ngIf="!loading" className='col-sm-12 p-0 text-left'>
                            <button #button type='submit' (submit)="signIn()"
                                class='form-control text-center style2-input h-50 text-white fw-600 bg-dark border-0 p-0 login-button'>Đăng
                                nhập</button>
                        </div>
                        <div class="or-container">
                            <div class="line-separator"></div>
                            <div class="or-label">or</div>
                            <div class="line-separator"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <asl-google-signin-button type='standard' text="signin_with"
                                    size='large'></asl-google-signin-button>
                            </div>
                        </div>
                    </form>
                    <app-load *ngIf="loading"></app-load>
                </div>
            </div>
        </div>
    </div>
</div>