<div class="main-content">
  <div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
      <div class="row feed-body">
        <div #middleColumn class="col-xl-12 col-xxl-12 col-lg-12">
          <div class="app-content card w-100 shadow-xss rounded-xxxl border-0 p-4 mb-3">
            <div class="form-search">
              <div class="row">

                <div class="button-group">
                  <span class="btn" *ngFor="let key of this.processTypes; let i = index">
                    <ejs-checkbox #checkbox textContent="{{key.value }}" [label]='getCount(key.value)' [id]="key.key"
                      [checked]="key.checked" [cssClass]="'customize-label-checkbox'"
                      (checkedChange)="pushToList($event,key.key)" (ngModel)="key.value"></ejs-checkbox>
                  </span>
                </div>
                <!-- <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">{{'Loại quy trình'|translate}}</label>
                    <ejs-dropdownlist id='games' #sample [dataSource]='processTypes' [value]=''
                      [fields]="{ text: 'value', value: 'key' }" [placeholder]="'Loại quy trình'|translate"
                      popupHeight='220px'></ejs-dropdownlist>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">{{'Từ ngày'|translate}}</label>
                    <ejs-datepicker format='dd-MM-yyyy' [placeholder]="'Từ ngày'|translate"  [value]=></ejs-datepicker>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">{{'Đến ngày'|translate}}</label>
                    <ejs-datepicker format='dd-MM-yyyy' [placeholder]="'Đến ngày'|translate"  [value]=></ejs-datepicker>
                  </div>
                </div>
              </div> -->
                <div class="row">
                  <!-- <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">{{'Trạng thái'|translate}}</label>
                    <ejs-dropdownlist id='games' #sample [dataSource]='' [value]='' [fields]="{ text: '', value: '' }"
                      [placeholder]="'Trạng thái'|translate" popupHeight='220px'></ejs-dropdownlist>
                    <div>
                    </div>
                  </div>
                </div> -->
                  <!-- <div class="col-sm-4">
                  <div class="form-group">
                    <label for=""></label>
                    <div class="btn btn-outline-warning mt-4"><i class="feather-search"></i>{{'Lọc dữ liệu'|translate}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for=""></label>
                    <div (click)="this.defaultDialog.show()" class="btn btn-outline-primary mt-4 pull-right"><i
                        class="feather-plus-circle"></i>{{'Tạo mới'|translate}}
                    </div>

                  </div>
                </div> -->
                </div>
              </div>
              <div class="form-grid">
                <!-- help: https://ej2.syncfusion.com/angular/documentation/tab/adaptive/ -->
                <ejs-grid [dataSource]='processDataGrid' [selectionSettings]="{ type: 'Multiple'}"
                  [height]="configs.height()-180" (recordDoubleClick)="goToProcess($event)">
                  <e-columns>
                    <e-column field='process_Name' textAlign="Left" headerTextAlign="Center" headerText="Tên quy trình"
                      clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='node_Name' textAlign="Left" headerTextAlign="Center"
                      headerText="Hành động/Thao tác" clipMode='EllipsisWithTooltip'>
                    </e-column>

                    <e-column field='employee_Name' textAlign="Left" headerTextAlign="Center" headerText="Nhân sự"
                      clipMode='EllipsisWithTooltip'>
                    </e-column>

                  </e-columns>
                </ejs-grid>
              </div>


              <!-- Dialog  -->
              <!-- help: https://ej2.syncfusion.com/angular/documentation/dialog/getting-started/#positioning -->
              <div class="control-section">
                <ejs-dialog id="animationDialog" [header]='dialogHeader' [isModal]='true' #defaultDialog
                  [visible]='false' [animationSettings]='animationSettings' [showCloseIcon]='true' target='.app-content'
                  [width]="700">

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-12">
                        <ejs-dropdownlist id='games' #saveProcessType [dataSource]='processTypes' [value]=''
                          [fields]="{ text: 'value', value: 'key' }" [placeholder]="'Loại quy trình'|translate"
                          popupHeight='220px'></ejs-dropdownlist>
                      </div>

                    </div>

                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="btn btn-outline-primary pull-right" (click)="saveProcess()">
                        <i class="feather-save"></i> Xác nhận
                      </div>
                    </div>
                  </div>


                </ejs-dialog>
              </div>

            </div>
          </div>
        </div>
      </div>