<!-- help: https://ej2.syncfusion.com/angular/documentation/accordion/getting-started/ -->
<ejs-accordion>
  <e-accordionitems>
    <e-accordionitem expanded='true'>
      <ng-template #content>
        <div class="text-center">
          <h1 class="title">{{HrProcessName}}</h1>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div>
              <label>Quản lý trực tiếp/hướng dẫn: </label>
            </div>
            <div>
              <label>Chức vụ: </label>
            </div>
            <div>
              <label>Trung tâm/phòng ban: </label>
            </div>
          </div>

          <div class="col-sm-6">
            <div>
              <label>Người thử việc/Thực tập:</label>
            </div>
            <div>
              <label>Vị trí :</label>
            </div>
            <div>
              <label>Thời gian thử việc/Thực tập :</label>
            </div>
          </div>
        </div>
      </ng-template>
    </e-accordionitem>

  </e-accordionitems>
</ejs-accordion>