<div class="text-center">
  <h1 class="title">{{baseInfo!.processName}}</h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <div>
      <label>Họ và tên: {{baseInfo!.employeeName}}</label>
    </div>
    <div>
      <label>Vị trí: {{baseInfo!.employeePositionName}}</label>
    </div>
    <div>
      <label>Thời gian thử việc/Thực tập :</label>
    </div>
  </div>
  <div class="col-sm-6">
    <div>
      <label>Quản lý trực tiếp: {{baseInfo!.directManagerName}}</label>
    </div>
    <div>
      <label>Chức vụ: {{baseInfo!.directManagerPosition}}</label>
    </div>
    <div>
      <label>Trung tâm/phòng ban: {{baseInfo!.orgName}}</label>
    </div>
  </div>


</div>